/Sis_Asistencia/nbproject/private/
/Sis_Asistencia/build/
/Sis_Asistencia/dist/
/Identificacion/nbproject/private/
/Identificacion/build/
/Identificacion/Identificacion/build/
/Identificacion/Identificacion/dist/
/Identificacion/Identificacion/nbproject/private/